name: Fetch JSON Report

permissions:
  contents: write

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - name: Repo'yu çek
        uses: actions/checkout@v4

      - name: JSON API'den veriyi al
        run: |
          curl -s https://falzer6.peuplade.com.tr/analyze-6183 -o report.json

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add report.json
          git commit -m "API report güncellendi" || echo "Degisiklik yok"
          git push
